{% extends 'base.html' %}

{% block content %}

<style>
    .text-center h2,
    .text-center h4,
    .text-center a{
        margin-bottom: 20px;
    }
</style>

<div class="text-center">
    <h2>URL: {{ obj.original_url }}</h2>
    <h4>Your Request: {{ obj.short_url }}</h4>
    <a href="{{ obj.original_url }}">
        <button type="button" class="btn btn-primary">Go To Website</button>
    </a>
</div>
{% endblock content %}

<!-- <div class="d-flex justify-content-center"></div> -->
