{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Url Shortener</h1>
    <a href="create/">
        <button type="button" class="btn btn-secondary">Create New URL</button>
    </a>

</div>

<div class="jumbotron text-center">
    <h3>Check Out My Other Projects </h3>
    <a href="https://github.com/sivasb1019?tab=repositories" target="_blank">
        <button type="button" class="btn btn-primary">Github</button>
    </a>

</div>
{% endblock content %}