{% extends 'base.html' %}


{% block content %}
<div class="text-center">
    <br>
    <h1>Error: Page Not Found :(</h1>
    <br>
    <a href="/">
        <button type="button" class="btn btn-info ml-3 mr-3"
            style="font-family:'Trebuchet MS', 'Lucida Sans Unicode',
            'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Home
        </button>
    </a>
    <a href="/"><button type="button" class="btn btn-dark ml-3 mr-3">Create New URL</button></a>
</div>
{% endblock content %}