{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
            <p class="h4 text-center py-3">Original URL: {{ obj.original_url }}</p>
        <div class="col-md-6 text-center ">
            <p class="h5 py-3">Your Request: {{ obj.short_url }}</p>
            <a href="{{ obj.original_url }}" target="_blank">
                <button type="button" class="btn btn-primary">Go To Website</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
